{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="www.yanshisan.cn" />
    <meta name="robots" content="all" />
    <title>文章</title>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css'%}" />
    <link rel="stylesheet" href="{% static 'css/master.css'%}" />
    <link rel="stylesheet" href="{% static 'css/gloable.css'%}" />
    <link rel="stylesheet" href="{% static 'css/nprogress.css'%}" />
    <link rel="stylesheet" href="{% static 'css/blog.css'%}" />
</head>
<body>
    <div class="header">
    </div>
    <header class="gird-header">
        <div class="header-fixed">
            <div class="header-inner">
                <a href="javascript:void(0)" class="header-logo" id="logo">Briup.Charisse</a>
                <nav class="nav" id="nav">
                    <ul>
                        <li><a href="index.html">首页</a></li>
                        <li><a href="article.html">博客</a></li>
                        <li><a href="message.html">留言</a></li>
                        <li><a href="link.html">友链</a></li>
                    </ul>
                </nav>
                <a href="./login/index.html" class="blog-user">
                    <!-- <i class="fa fa-user-o" aria-hidden="true"></i> -->
					<!-- <i class="layui-icon layui-icon-face-smile"></i>  -->
					<i class="layui-icon" style="font-size: 30px;">&#xe770;</i>
                </a>
                <a class="phone-menu">
                    <i></i>
                    <i></i>
                    <i></i>
                </a>
            </div>
        </div>
    </header>
    <div class="doc-container" id="doc-container">
        <div class="container-fixed">
		    <div class="col-content">
				<!--轮播图-->
				<div style="padding-top: 20px;">
					<div class="layui-carousel" id="test1" lay-filter="test1">
						<div carousel-item="">
                            <div><img style="width: 100%;height: 100%;" src="{% static './image/a.jpeg'%}" alt=""></div>
							<div><img style="width: 100%;height: 100%;" src="{% static './image/b.jpeg'%}" alt=""></div>
							<div><img style="width: 100%;height: 100%;" src="{% static './image/c.jpeg'%}" alt=""></div>
							<div><img style="width: 100%;height: 100%;" src="{% static './image/d.jpeg'%}" alt=""></div>

						</div>
					</div>

				</div>
				<!-- 文章 -->
		        <div class="inner">

		            <article class="article-list bloglist" id="LAY_bloglist" >
                        {% for blog in blogslist %}
                            <section class="article-item zoomIn article">
                            {% if blog.isTop %}
                            <div class="fc-flag">置顶</div>
                            {% endif %}
							<h5 class="title">
								<span class="fc-blue">【原创】</span>
								<a href="{% url 'blogs:detail' blog.id %}">{{ blog.title }}</a>
							</h5>
							<div class="time">
								<span class="day">{{ blog.createtime|date:'d' }}</span>
								<span class="month fs-18">1<span class="fs-14">{{ blog.createtime|date:'M' }}</span></span>
								<span class="year fs-18 ml10">{{ blog.createtime|date:'Y' }}</span>
							</div>
							<div class="content">
								<a href="{{ blog.get_detail_url }}" class="cover img-light">
									<img src="media/{{ blog.img }}">
								</a>
								{{ blog.abstract }}
							</div>
							<div class="read-more">
								<a href="{{ blog.get_detail_url }}" class="fc-black f-fwb">继续阅读</a>
							</div>
							<aside class="f-oh footer">
								<div class="f-fl tags">
									<span class="fa fa-tags fs-16"></span>
									<a class="tag">ASP.NET MVC</a>
								</div>
								<div class="f-fr">
									<span class="read">
										<i class="fa fa-eye fs-16"></i>
										<i class="num">{{ blog.readnum }}</i>
									</span>
									<span class="ml20">
										<i class="fa fa-comments fs-16"></i>
										<a href="javascript:void(0)" class="num fc-grey">{{ blog.commentnum }}</a>
									</span>
								</div>
							</aside>
						</section>
                        {% endfor %}




		            </article>

		        </div>
				<!-- 分页 -->
				<div id="pagenation"></div>
		    </div>
		    <div class="col-other">
		        <div class="inner">
					<div class="other-item" id="categoryandsearch">
			    		<div class="search">
					        <label class="search-wrap">
					            <input type="text" id="searchtxt" placeholder="输入关键字搜索" />
					            <span class="search-icon">
					                <i class="fa fa-search"></i>
					            </span>
					        </label>
			        		<ul class="search-result"></ul>
			    		</div>
			    		<ul class="category mt20" id="category">
				        	<li data-index="0" class="slider"></li>
				        	<li data-index="1"><a href="{% url 'blogs:index' %}">全部文章</a></li>
				            {% for bt in blogtypes %}
				            <li data-index="{{ bt.id | add:1 }}"><a href="{% url 'blogs:article'  %}?type={{ bt.id }}">{{ bt.name }}</a></li>
                            {% endfor %}

			    		</ul>
					</div>
					<!--右边悬浮 平板或手机设备显示-->
					<div class="category-toggle"><i class="layui-icon">&#xe603;</i></div>
					<div class="article-category">
					    <div class="article-category-title">分类导航</div>
					            <a href="/Blog/Article/1/">个人日记</a>
					            <a href="/Blog/Article/2/">HTML5&amp;CSS3</a>
					            <a href="/Blog/Article/3/">JavaScript</a>
					            <a href="/Blog/Article/4/">ASP.NET MVC</a>
					            <a href="/Blog/Article/5/">其它</a>
					    <div class="f-cb"></div>
					</div>
					<!--遮罩-->
					<div class="blog-mask animated layui-hide"></div>
					<div class="other-item">
					    <h5 class="other-item-title">热门文章</h5>
					    <div class="inner">
					        <ul class="hot-list-article">
					                <li> <a href="/Blog/Read/9">2018最新版QQ音乐api调用</a></li>
					                <li> <a href="/Blog/Read/12">模板分享</a></li>
					                <li> <a href="/Blog/Read/13">逆水寒</a></li>
					                <li> <a href="/Blog/Read/4">序章</a></li>
					                <li> <a href="/Blog/Read/7">解决百度分享插件不支持https</a></li>
					                <li> <a href="/Blog/Read/11">使用码云和VS托管本地代码</a></li>
					                <li> <a href="/Blog/Read/14">MUI框架-快速开发APP</a></li>
					                <li> <a href="/Blog/Read/8">NPOI导入导出Excel</a></li>
					        </ul>
					    </div>
					</div>
					<div class="other-item">
					    <h5 class="other-item-title">置顶推荐</h5>
					    <div class="inner">
					        <ul class="hot-list-article">
                                {% load blogtags %}
                                {% get_top_blogs %}
                                {% for th in get_top_blogs %}
                                    <li> <a href="/Blog/Read/16">{{ tb.title }}</a></li>
                                {% endfor %}
					        </ul>
					    </div>
					</div>
					<div class="other-item">
					    <h5 class="other-item-title">标签</h5>
					    <div class="inner">
					        <dl class="alltags">
					        <!-- <div class="f-fl tags">
								<span class="fa fa-tags fs-16"></span>
								<a class="tag">ASP.NET MVC</a>
							</div> -->
								<dd>
									<a class="tag">python</a>
								</dd>
								<dd>
									<a class="tag">java ee</a>
								</dd>
								<dd>
									<a class="tag">web ui</a>
								</dd>
								<dd>
									<a class="tag">ASP.NET</a>
								</dd>
								<dd>
									<a class="tag">星座</a>
								</dd>
								<dd>
									<a class="tag">购物</a>
								</dd>

							</dl>
						</div>
					</div>
					<div class="other-item">
					    <h5 class="other-item-title">最近访客</h5>
					    <div class="inner">
					        <dl class="vistor">
					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/72388EA977643E8F97111222675720B1/100"><cite>Anonymous</cite></a></dd>
					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/342F777E313DDF5CCD6E3E707BB0770B/100"><cite>Dekstra</cite></a></dd>
					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/EA5D00A72C0C43ECD8FC481BD274DEEC/100"><cite>惜i</cite></a></dd>
					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/EF18CEC98150D2442183AA30F05AAD7B/100"><cite>↙Aㄨ计划 ◆莪↘</cite></a></dd>
					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/3D8D91AD2BAFD36F5AC494DA51E270E6/100"><cite>.</cite></a></dd>
					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/B745A110DAB712A0E6C5D0B633E905D3/100"><cite>Lambert.</cite></a></dd>
					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/E9BA3A2499EC068B7917B9EF45C4D13C/100"><cite>64ღ</cite></a></dd>
					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/09F92966169272DD7DD9999E709A0204/100"><cite>doBoor</cite></a></dd>
					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/59991D53192643A1A651383847332EB6/100"><cite>毛毛小妖</cite></a></dd>
					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/FF34F311DDC43E2AF63BE897BCA24F05/100"><cite>NULL</cite></a></dd>
					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/59AA25A7627284AE62C8E6EBDC6FE417/100"><cite>吓一跳</cite></a></dd>
					                <dd><a href="javasript:;"><img src="https://thirdqq.qlogo.cn/qqapp/101465933/28B021E0F5AF0A4B9B781A24329FE897/100"><cite>如初</cite></a></dd>
					        </dl>
					    </div>
					</div>
		        </div>
		    </div>
		</div>
    </div>
    <footer class="grid-footer">
        <div class="footer-fixed">
            <div class="copyright">
                <div class="info">
                    <div class="contact">
                        <a href="javascript:void(0)" class="github" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="https://wpa.qq.com/msgrd?v=3&uin=930054439&site=qq&menu=yes" class="qq" target="_blank" title="930054439"><i class="fa fa-qq"></i></a>
                        <a href="https://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=gbiysbG0tbWyuMHw8K-i7uw" class="email" target="_blank" title="930054439@qq.com"><i class="fa fa-envelope"></i></a>
                        <a href="javascript:void(0)" class="weixin"><i class="fa fa-weixin"></i></a>
                    </div>
                    <p class="mt05">
                        Copyright &copy; 2021-2018 Briup All Rights Reserved V.3.1.3 苏ICP备18008600号
					</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'layui/layui.js'%}"></script>
    <script src="{% static 'js/yss/gloable.js'%}"></script>
    <!-- <script src="{% static 'js/jquery.js'%}"></script> -->

    <script src="{% static 'js/plugins/nprogress.js'%}"></script>
    <script>NProgress.start();</script>
 	<script src="{% static 'js/yss/article.js'%}"></script>
    <script> 
        window.onload = function () {
            NProgress.done();
        };
		
    </script>
</body>
</html>
<script>
    layui.use('carousel', function() {
        var carousel = layui.carousel

        //常规轮播
/*
elem 指向容器选择器，如：elem: '#id'。也可以是DOM对象 string/object 无
width 设定轮播容器宽度，支持像素和百分比
height 设定轮播容器高度，支持像素和百分比 
full 是否全屏轮播 boolean false
anim 轮播切换动画方式，可选值为：
　　default（左右切换）
　　updown（上下切换）
　　fade（渐隐渐显切换）
autoplay 是否自动切换 boolean true
interval 自动切换的时间间隔，单位：ms（毫秒），不能低于800 number 3000
index 初始开始的条目索引 number 0
arrow 切换箭头默认显示状态，可选值为：
　　hover（悬停显示）
　　always（始终显示）
　　none（始终不显示）
indicator 指示器位置，可选值为：
　　inside（容器内部）
　　outside（容器外部）
　　none（不显示）

注意：如果设定了 anim:'updown'，该参数将无效 string 'inside'
trigger 指示器的触发事件 string 'click'
*/
        carousel.render({
            elem: '#test1'
           /* ,full:true*/
            ,width: '100%' //设置容器宽度
            // ,height: '100%' //设置容器高度
            , arrow: 'always'//始终显示箭头
            ,anim: 'fade' //切换动画方式
            ,interval:'3000'//自动切换的时间间隔,不能低于800
            ,indicator:'inside'//指示器位置,如果设定了 anim:'updown'，该参数将无效
           ,arrow:'hover'
        });
    })

	//js获取url参数
    function GetQueryString(name) {
        var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return unescape(r[2]);
        }
        return null;
    }
    //alert(GetQueryString("page"));
	
	// 分页
	layui.use('laypage', function(){
		var laypage = layui.laypage;
		
		//执行一个laypage实例
		laypage.render({
			elem: 'pagenation'
			,count: 70 //数据总数，从服务端得到
			,limit:5// 每页显示的条数,默认10。laypage将会借助 count 和 limit 计算出分页数。
			,curr: GetQueryString("page")?GetQueryString("page"):1 //获取起始页

			,jump: function(obj, first){
				//obj包含了当前分页的所有参数，比如：
				console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
				console.log(obj.limit); //得到每页显示的条数
				
				//首次不执行
				if(!first){
				//do something
				}
			}
			});
		});
	
</script>
